body{
    font-family: "Fira Sans", serif;
    background-color: rgba(236, 234, 234, 0.676);
}
/**sign in nav**/
.sign-in{
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    padding-right: 136px;
    align-items: center;
}
.sign-in button{
    width: 99px;
    height: 37px;
    color: rgb(0, 106, 80);
    border-color:  rgb(0, 106, 80);
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(236, 234, 234, 0.676);
    
}
.sign-in button:hover{
    background-color:rgb(0, 106, 80) ;
    color: white;
    border: none;
}
.sign-in h1{
    color: rgb(14, 14, 14);
}